<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contact Us</span>
            <h2 class="cs-title">Start Your Note Investment Journey Today</h2>
            <p class="cs-text">
                Whether you are looking to sell a mortgage note or invest in one, Pacific Prosperity Financial is here to guide you through every step of the process.
            </p>
            <a href="/contact/" class="cs-button-solid">Get a Free Consultation</a>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/cta-bg-m.webp">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="/assets/images/cta-bg-t.webp">
        <!--Desktop Image-->
        <img src="/assets/images/cta-bg-d.webp" alt="call to action background" width="1920" height="426" loading="lazy" decoding="async">
    </picture>
</section>