<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-275">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="/">
                <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/PPF Logo.svg" alt="logo" width="240" height="32">
            </a>
            <p class="cs-text">
                Pacific Prosperity Financial specializes in mortgage note brokering, connecting note holders with qualified investors for seamless and transparent transactions.
            </p>
            <div class="cs-social">
                <a class="cs-social-link" aria-label="visit facebook profile" href="{{ client.socials.facebook }}" target="_blank" rel="noopener">
                    <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/facebook.svg" alt="facebook" width="6" height="11">
                </a>
                <a class="cs-social-link" aria-label="visit linkedin profile" href="{{ client.socials.linkedin }}" target="_blank" rel="noopener">
                    <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/linkedin.svg" alt="linkedin" width="11" height="11">
                </a>
            </div>
        </div>
        <!-- Links -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Sitemap</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/">Home</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/about/">About</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/reviews/">Reviews</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/blog/">Blog</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/contact/">Contact</a>
            </li>
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Projects</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/project-one/">Project One</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/project-two/">Project Two</a>
            </li>
        </ul>
        <!-- Contact Info -->
        <ul class="cs-contact">
            <li class="cs-nav-li">
                <span class="cs-header">Contact</span>
            </li>
            <li class="cs-contact-li">
                <a class="cs-contact-link cs-address" href="{{ client.address.mapLink }}" target="_blank" rel="noopener">
                    {{ client.address.city }}, {{ client.address.state }}
                    {{ client.address.zip }}
                </a>
            </li>
            <li class="cs-contact-li">
                <a class="cs-contact-link" href="tel:{{ client.phoneForTel }}">{{ client.phoneFormatted }}</a>
            </li>
            <li class="cs-contact-li">
                <a class="cs-contact-link" href="mailto:{{ client.email }}">{{ client.email }}</a>
            </li>
        </ul>
    </div>
</footer>