// ─────────────────────────────────────────────────────────────────────────────
// PAGE STYLES - Services
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---      Services Intro        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-detail {
        padding: var(--sectionPadding);
        padding-bottom: 0;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-content {
            text-align: center;
            width: 100%;
            max-width: (900/16rem);
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-title {
            max-width: 20ch;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-detail {
            .cs-topper {
                color: var(--goldenFinch);
            }

            .cs-title,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}

/*-- -------------------------- -->
<---     Service Sections       -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    .cs-service-section {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-image-group {
            width: 100%;
            max-width: (542/16rem);
            overflow: hidden;
            border-radius: (16/16rem);
        }

        .cs-picture {
            width: 100%;
            display: block;

            img {
                width: 100%;
                height: auto;
                display: block;
                object-fit: cover;
            }
        }

        .cs-content {
            text-align: left;
            width: 100%;
            max-width: (542/16rem);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    .cs-service-section {
        .cs-container {
            flex-direction: row;
            justify-content: space-between;
            gap: (52/16rem);
        }

        .cs-image-group {
            flex: none;
            width: 45%;
            max-width: (542/16rem);
        }

        .cs-content {
            max-width: none;
        }
    }

    .cs-service-reverse {
        .cs-container {
            flex-direction: row-reverse;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        .cs-service-section {
            .cs-topper {
                color: var(--goldenFinch);
            }

            .cs-title,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }

        }
    }
}
